* {
    box-sizing: border-box;
}    

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7vh;
    color: white;
}

label {
    background: #293d64;
    color: white;
    padding: .25em;
    margin: .2em;
    border-radius: 5em;

}

.form-group > input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35vw; 
}

label{
    min-width:10vw;
    text-align: center;
}

.removeButton {
    background: red !important;
    color: black !important;
    border-color: red !important;
}







  