
@media (max-width: 1000px) {
    span {
        font-size: 4vw;
    }
}

@media (max-width: 1000px) {
    .date {
        font-size: 100vw;
    }
}
/* 
@media (max-width: 500px) {
    span {
        font-size: 4vw;
    }
} */

